<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <script>
        window.onerror = function (msg, fileUrl, line, col, error) {
            console.log(arguments)
            console.log(error)
            console.log(error.stack)
        }
        // try {
        // throw new Error('sds')
        // } catch (error) {
        // console.dir(error)
        // }
    </script>
    <script>
        // if = 1
    </script>
    <script src="./test.js"></script>
</body>

</html>